<div class="row">
  <div class="col-12">
    <mdb-card>
      <mdb-card-body>
        <mdb-card-title>
          <h5>Statestique</h5>
          <h6 class="text-muted mb-2">Ici s'affiche les graphes comparatives, le total de vos depenses, le total de vos revenue et le restant de votre solde.</h6>
        </mdb-card-title>
        <mdb-card-text>
          <!--Grid row-->
          <div class="row text-center">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

              <!--Featured image-->
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <div style="display: block">
                  <canvas id="canvas">{{ chartMonth }}</canvas>
                </div>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Excerpt-->
              <mdb-card-body class="mt-3">
                <h4>
                  <strong>Evolution des depenses</strong>
                </h4>
                <p class="grey-text">Evolution des depenses par mois.
                </p>
                <a routerLink="/depense" mdbBtn color="purple" size="sm" class="waves-light" mdbWavesEffect>
                  Voir les depense</a>
              </mdb-card-body>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

              <!--Featured image-->
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <div style="display: block">
                  <canvas id="canvasMonth">{{ chartMonthRev }}</canvas>
                </div>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Excerpt-->
              <mdb-card-body class="mt-3">
                <h4>
                  <strong>Evolution des revenus</strong>
                </h4>
                <p class="grey-text">Evolution des revenus par mois.
                </p>
                <a routerLink="/depense" mdbBtn color="purple" size="sm" class="waves-light" mdbWavesEffect>
                  Voir les revenus</a>
              </mdb-card-body>

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4">

              <!--Featured image-->
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <div class="mx-auto" style="display: block">
                  <canvas id="canvasPie" *ngIf="chartPie">{{ chartPie }}</canvas>
                </div>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!--Excerpt-->
              <mdb-card-body class="mt-3">
                <h4>
                  <strong>Comparaison depense / revenus</strong>
                </h4>
                <p class="grey-text">Comparaison des depenses et revenus par semaine
                </p>
              </mdb-card-body>

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
              <h3>Total depense <span class="badge badge-danger">{{ montantDep }}</span></h3>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <h3>Total revenu <span class="badge badge-success">{{ montantRev }}</span></h3>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
              <h3>Solde restante <span class="badge badge-warning">{{ reste }}</span></h3>
            </div>
          </div>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
