<div class="container">
  <!-- Section: Team v.2 -->
<section class="team-section text-center my-5 p-1">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Notre equipe</h2>
  <!-- Section description -->
  <p class="grey-text w-responsive mx-auto mb-5">Chaque projet Internet est une nouvelle Aventure, aussi bien pour nous que pour nos clients, lesquels attachent une grande importance à participer à l'élaboration de leur site Internet. Pour aboutir à un résultat optimal, chaque projet nécessite une étroite collaboration entre nos clients et nous et une participation de chacun par des échanges réguliers.</p>

  <!-- Grid row -->
  <div class="row text-center">

    <!-- Grid column -->
    <div class="col-md-6 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
      </div>
      <h4 class="font-weight-bold dark-grey-text my-4">Fatou DIOUF</h4>
      <h6 class="text-uppercase grey-text mb-3">
        <strong>Developpeuse Frontend</strong>
      </h6>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded z-depth-1-half" alt="Sample avatar">
      </div>
      <h4 class="font-weight-bold dark-grey-text my-4">Makhtar SARR</h4>
      <h6 class="text-uppercase grey-text mb-3">
        <strong>Developpeur Backend</strong>
      </h6>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.2 -->
</div>