<div class="container">
  <section class="my-5 p-1">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">A propos</h2>
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Qui sommes-nous</strong></h3>
      <!-- Excerpt -->
      <p>Samay Depense a été créée en Aout 2021 par Fatou DIOUF et Makhtar SARR, deux etudiants en licence 3 Informatique option Genie Logiciel a l'universite Iba Der Thiam de Thies, avec l’envie de fournir une application pour gerer nos depenses. Dans un univers où la plupart des salaries ont des difficulte de suivre leur depense quotidiennes, mensuelle ainsi que annuelle. Nous avons mis nos compétences et toute notre énergie pour realiser une plateforme qui permet de suivre ses depenses et ses revenus quotidiens, mensuels ou annuels dans differentes categories, afin de mieux gerer son argent.</p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="../assets/images/img4.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</section>
<!-- Section: Blog v.1 -->

<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Ce que dit nos clients</h2>
  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="../assets/images/img5.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Ce que nos clients pense de nous</strong></h3>
      <!-- Excerpt -->
      <p>96% de nos clients ont répondu être très satisfaits ou plutôt satisfaits du service proposé par Samay Depenses</p>
      <p>94% de nos clients sont tout à fait d’accord ou plutôt d’accord pour dire que nos équipes sont disponibles et aimables en cas de besoin.</p>
      <p>95% de nos clients s’estiment très satisfaits ou plutôt satisfaits par la sécurité de leur donnee.</p>
      <p>À la question : “Quelle note globale donneriez-vous à Samay Depenses ?” 37,1% de nos clients nous accordent une note supérieure ou égale à 9/10.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
</section>
<!-- Section: Blog v.1 -->
</div>