  <!-- Jumbotron -->
<mdb-card style="background-image: url('../assets/images/bgimg.jpg')">
  <div class="text-white text-center rgba-black-strong py-5 px-1">
    <div class="py-5">

      <!-- Content -->
      <h2 class="card-title h2 my-4 py-2">Bienvenu a Samay Depenses</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Si vous avez besoin d’aide pour la gestion de vos depenses, il est recommandé de faire appel à un outil professionnel et securise. Alors, creer votre compte dès maintenant vos depenses et vos revenus tous enregistrer dans votre compte Samay depenses !</p>
      <a routerLink="/signup" mdbBtn mdbBtn color="purple" mdbWavesEffect><mdb-icon fas icon="user-plus"></mdb-icon> S'inscrire</a>

    </div>
  </div>
</mdb-card>
<!-- Jumbotron -->
<!--Main Navigation-->
<div class="container">
  <section class="my-5">
  <div class="row">
    <div class="card-deck">
      <div class="col-sm-12 col-lg-4">
        <!-- Card -->
        <mdb-card>
          <div class="view overlay waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="../assets/images/img2.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Enregistrer</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text>Enregister vos depenses regulierement et vos revenus par categorie.
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-sm-12 col-lg-4 mt-sm-4 mt-lg-0">
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="../assets/images/img1.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Comparer</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text>Comparer l'evolution de vos depense et revenus selon la categorie.
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>

      <div class="col-sm-12 col-lg-4 mt-sm-4 mt-lg-0">
        <!-- Card -->
        <mdb-card>
          <div class="view rgba-white-slight waves-light" mdbWavesEffect>
            <!-- Card img -->
            <mdb-card-img src="../assets/images/img3.jpg" alt="Card image cap"></mdb-card-img>
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--Card content-->
          <mdb-card-body>
            <!--Title-->
            <mdb-card-title>
              <h4>Consulter</h4>
            </mdb-card-title>

            <!--Text-->
            <mdb-card-text>Consulter le total de vos depense ainsi que le restant de vos revenus
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</section>

<app-a-propos id="a-propos"></app-a-propos>

<app-notre-equipe id="equipe"></app-notre-equipe>

<app-contact id="contact"></app-contact>
<app-footer></app-footer>
</div>
