<div class="container-fluid">
  <div class="container w-responsive d-block p-5 mx-auto mt-5">
    <mdb-card>
    <!-- Default form register -->
    <mdb-card-header class="purple white-text text-center py-4">
      <h5>
        <strong>Inscription</strong>
      </h5>
    </mdb-card-header>

    <mdb-card-body class="px-lg-5 pt-0">
   <form class="text-center" style="color: #757575;" [formGroup]="form" (submit)="onSubmit()">

     <img src="./../../../assets/images/logo.svg" class="rounded mx-auto d-block mb-4 mt-4" height="50px" width="50px" alt="...">

     <div class="form-row">
       <div class="col-sm-12 col-lg-6 mb-4">
          <!-- First name -->
         <input formControlName="prenom" type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Prenom" [ngClass]="{ 'is-invalid': f.prenom.touched && f.prenom.errors }">
         <div *ngIf="f.prenom.errors" class="invalid-feedback">
          <div *ngIf="f.prenom.errors.required">Le prenom est obligatoire</div>
          <div *ngIf="f.prenom.errors.minlength">Le prenom doit contenir au moins trois (3) caracteres</div>
          <div *ngIf="f.prenom.errors.maxlength">Le prenom doit contenir moins de 150 caracteres</div>
        </div>
       </div>
       <div class="col-sm-12 col-lg-6 mb-4">
         <!-- Last name -->
         <input formControlName="nom" type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="nom" [ngClass]="{ 'is-invalid': f.nom.touched && f.nom.errors }">
         <div *ngIf="f.nom.errors" class="invalid-feedback">
          <div *ngIf="f.nom.errors.required">Le nom est obligatoire</div>
          <div *ngIf="f.nom.errors.minlength">Le nom doit contenir au moins deux (2) caracteres</div>
          <div *ngIf="f.nom.errors.maxlength">Le nom doit contenir moins de 100 caracteres</div>
        </div>
       </div>
     </div>

     <div class="form-row">
       <div class="col-sm-12 col-lg-6 mb-4">
         <!-- Poste -->
         <input formControlName="poste" type="text" id="defaultRegisterFormPoste" class="form-control" placeholder="Poste occupe" [ngClass]="{ 'is-invalid': f.poste.touched && f.poste.errors }">
         <div *ngIf="f.poste.errors" class="invalid-feedback">
          <div *ngIf="f.poste.errors.required">Le poste occupe est obligatoire</div>
          <div *ngIf="f.poste.errors.minlength">Le poste occupe doit contenir au moins trois (3) caracteres</div>
          <div *ngIf="f.poste.errors.maxlength">Le poste occupe doit contenir moins de 150 caracteres</div>
        </div>
       </div>
       <div class="col-sm-12 col-lg-6 mb-4">
         <!-- E-mail -->
         <input formControlName="email" type="email" id="defaultRegisterFormEmail" class="form-control" placeholder="E-mail" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }">
         <div *ngIf="f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">L'e-mail est obligatoire</div>
          <div *ngIf="f.email.errors.email">L'e-mail doit etre une adresse mail valide.</div>
        </div>
       </div>
     </div>

     <div class="form-row">
       <div class="col-sm-12 col-lg-6 mb-4">
         <!-- Password -->
         <input formControlName="password" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Mot de passe" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }">
         <div *ngIf="f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Le mot de passe est obligatoire</div>
          <div *ngIf="f.password.errors.minlength">Le mot de passe doit contenir au moins 8 caracteres</div>
        </div>
       </div>
       <div class="col-sm-12 col-lg-6 mb-4">
         <!-- E-mail -->
         <input formControlName="confirm_password" type="password" id="defaultRegisterFormConf" class="form-control" placeholder="Confirmation" [ngClass]="{ 'is-invalid': f.confirm_password.touched && f.confirm_password.errors }">
         <div *ngIf="f.confirm_password.errors" class="invalid-feedback">
          <div *ngIf="f.confirm_password.errors.required">Confirmer le mot de passe est obligatoire</div>
          <div *ngIf="f.confirm_password.errors.mustMatch">Le mot de passe confirme est different du mot de passe.</div>
        </div>
       </div>
     </div>

     <!-- Sign up button -->
     <button [disabled]="!form.valid" mdbBtn color="purple" class="my-4" type="submit">Valider</button>

     <p>Vous avez deja un compte?</p>

      <a routerLink="/login" type="button" class="purple-text mx-2">
        <mdb-icon fas icon="sign-in-alt"></mdb-icon> Se connecter
      </a>
   </form>
  </mdb-card-body>
  </mdb-card>
   <!-- Default form register -->
   </div>
</div>
